---
layout: main
---

<style>

</style>

<main id="about">
	<div id="section">
	<h1 class="page-header">About</h1>
	<section id="about-content", width="350px">
		<img id="project-image" src="{{ site.baseurl }}/{{ site.image_path }}/{{ page.image }}" width="200" height="200" align="middle">
		{{ content }}

<!-- 	<div id="nav">
	<h1 class="page-header">About</h1>
	<section id="about-content">
		<img id="project-image" src="{{ site.baseurl }}/{{ site.image_path }}/{{ page.image }}" width="200" height="200" align="middle">
		{{ content }}

	</section> -->

</main>
